#divLocalStream {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#divCameras {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  width: 400px;
}

#divBoard {
  width: 100%;
  height: 100%;
}

.cam-mic-button img {
  width: 50px;
}
